{% include 'logged_navbar.html'%}

<h1 class="text-center m-5">Submit a Ticket</h1>



<div class="login-card">
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <ul {% if message.tags %} class="{{ message.tags }} alert alert-warning"{% endif %}>{{ message }}</ul>    
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/create_ticket" method="POST">
        {% csrf_token %}

        <div class="inputs">
            <label for="subject">subject</label>
            <input class="form-inputs" type="text" name="subject" placeholder="What is the ticket's related subject?" />

            <label for="ticket_type">ticket type</label>
            <select class="form-inputs" name="ticket_type">
                <option selected disabled>ticket type</option>
                <option value="Hardware">hardware</option>
                <option value="Software">software</option>
                <option value="Misc">Other</option>
            </select>

            <label for="ticket_status">ticket status</label>
            <select class="form-inputs" name="ticket_status">
                <option selected disabled>ticket status</option>
                <option value="New">new</option>
                <option value="In Progress">in progress</option>
                <option value="Resolved">resolved</option>
            </select>

            <label for="ticket_description">ticket description</label>
            <textarea type="text" name="ticket_description" class="form-inputs" placeholder="please provide a description of the issue" rows="3"></textarea>

            <div class='button-div'>
                <button class="reg-button" type="submit">submit</button>
                <a href="/">cancel</a>
            </div>
        </div>

    </form>


</div>
{% include 'footer.html'%}