{% include 'nav_bar.html'%}


<section class="cards">
    <div class="card">
        <img src="/static/img/help-desk.png" alt="">
        <h4>Support When You Need It</h4>
        <p>Read more about the support and resources accessible after registering. Also learn what drives helpdesk and meet our founder Bill Penguin</p>
        <a class="card-buttons" href="#">About</a>
    </div>

    <div class="card">
        <img src="/static/img/layout.png" alt="">
        <h4>Support When You Need It</h4>
        <p>Read more about the support and resources accessible after registering. Also learn what drives helpdesk and meet our founder Bill Penguin</p>
        <a class="card-buttons" href="/dashboard">Dashboard</a>
    </div>


    <div class="card">
        <img src="/static/img/registration.png" alt="">
        <h4>Support When You Need It</h5>
        <p>Read more about the support and resources accessible after registering. Also learn what drives helpdesk and meet our founder Bill Penguin</p>
        <a class="card-buttons" href="/register">Dashboard</a>
    </div>
</section>





<div class="login-card">
    <h1>Login</h1>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <ul {% if message.tags %} class="{{ message.tags }} alert alert-warning"{% endif %}>{{ message }}</ul>    
            {% endfor %}
        </ul>
        {% endif %}
    <form action="/login" method="POST">
        {% csrf_token %}



        <div class="inputs">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" />
            <span>We'll never share your email with anyone.</span>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" />
            <span>Secure from end to end.</span>

            <button class="login-button" type="submit">login</button>
        </div>
    </form>
    <div class="reg-link">
        <a href="/new_user">New User? Click here to register.</a>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% include 'footer.html'%}