{% include 'nav_bar.html'%}




<div class="reg-card">
    <h1>Register to get started!</h1>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <ul {% if message.tags %} class="{{ message.tags }} alert alert-danger"{% endif %}>{{ message }}</ul>    
            {% endfor %}
        </ul>
        {% endif %}
    <form action="/register" method="POST">
        {% csrf_token %}



        <div class="inputs">
            <label for="first_name">first name</label>
            <input class='form-inputs' type="text" placeholder="First Name" name="first_name">


            <label for="last_name">last name</label>
            <input class='form-inputs' type="text" placeholder="Last Name" name="last_name">


            <label for="email">email</label>
            <input class='form-inputs' type="email" placeholder="Email" name="email" />


            <label for="password">password</label>
            <input class='form-inputs' type="password" placeholder="Password" name="password" />

            <label for="confirm_password">confirm password</label>
            <input class='form-inputs' type="password" placeholder="Confirm Password" name="confirm_password" />

            <div class='button-div'>
                <button class="reg-button" type="submit">create account</button>
                <a href="/">cancel</a>
            </div>

        </div>
    </form>
</div>

{% include 'footer.html'%}