{% include 'logged_navbar.html'%}

<h1 class="text-center m-5">Ticket ID - {{ticket.id}}</h1>
<div class="container mx-auto form-container" style="width:600px">
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <ul {% if message.tags %} class="{{ message.tags }} alert alert-warning"{% endif %}>{{ message }}</ul>    
        {% endfor %}
    </ul>
    {% endif %}
</div>


<div class="login-card">
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <ul {% if message.tags %} class="{{ message.tags }} alert alert-warning"{% endif %}>{{ message }}</ul>    
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/ticket/{{ticket.id}}/update" method="POST">
        {%csrf_token%}

        <div class="inputs">
            <label for="subject">subject</label>
            <input class="form-inputs" type="text" name="subject" value="{{ticket.subject}}" />

            <label for="ticket_type">ticket type</label>
            <select class="form-inputs" name="ticket_type">
                <option selected>{{ticket.ticket_type}}</option>
                <option value="Hardware">hardware</option>
                <option value="Software">software</option>
                <option value="Misc">Other</option>
            </select>

            <label for="ticket_status">ticket status</label>
            <select class="form-inputs" name="ticket_status">
                <option selected>{{ticket.ticket_status}}</option>
                <option value="New">new</option>
                <option value="In Progress">in progress</option>
                <option value="Resolved">resolved</option>
            </select>

            <label for="ticket_description">ticket description</label>
            <textarea type="text" name="ticket_description" class="form-inputs" placeholder="please provide a description of the issue" rows="3">{{ticket.ticket_description}}</textarea>

            <div class='button-div'>
                <button class="reg-button" type="submit">update</button>
                <button class="reg-button" type="submit" href="/dashboard">
                    <a href="/ticket/{{ticket.id}}/delete">delete </a>
                </button>
                <a href="/dashboard">cancel</a>
            </div>
        </div>
    </form>
</div>


<div class="login-card">

    <h4 style="text-align: center">activity log</h4>
    <form action="/add_comment/{{ticket.id}}/" method="POST">
        {% csrf_token %}
        <div class="inputs">
            <label for="comment">enter an update</label>
            <textarea class="form-inputs" type"text" name="comment" placeholder="provide an update or additional information here" rows="3" required></textarea>
        </div>

        <div class="button-div">
            <button class="reg-button">submit</button>
            <a href="/dashboard">cancel</a>
        </div>
    </form>

    <div class="comment-display-container container">
        <h5>updates - </h5>
        {% for comments in ticket.post_comments.all%}
            <h6>update by: </h6>
            <p>{{comment.poster.first_name}} {{comment.poster.last_name}} - {{comment.comment}}</p>
        {% endfor %}
    </div>
</div>

<div>
	{% include 'footer.html'%}
</div>