/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgb(214, 228, 229);
    --second-color: rgb(140, 72, 67);
    --accent-color: rgb(229, 143, 101);
    --title-color: rgb(126, 145, 129);
    --text-color: rgb(46, 53, 50);
    --body-color: rgb(255, 252, 247);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
    --h2-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}


/*=============== DEFAULTS ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

a {
    margin-left: 1px;
    margin-right: 1px;
    color: inherit;
    transition: all .3s;
    text-decoration: none;
}

a:hover{
    letter-spacing: 1px;
    text-decoration: underline;
}

input:focus {
    border: 1px solid rgb(220, 130, 95);
    background-color: rgb(226, 225, 225);
}

label {
    margin-bottom: .25rem;
    opacity: 50%;
}

hr {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h2 {
    margin-bottom: none;
}


/*=============== NAV BAR ===============*/
nav {
    display: flex;
    justify-content: right;
}

li { 
    list-style-type: none;
    cursor: pointer;
    transition: all .3s;
}

li:nth-child(5){
    margin-right: 4rem;
}

li:hover {
    letter-spacing: 1px;
    text-decoration: underline;
}

.nav-links a {
    color: inherit;
}

.nav-links a:hover {
    color: inherit;
}

.title {
    text-align: center;
    margin: 0 2rem;
    padding: 2rem;
    font-size: 4rem;
    border: solid 1px lightgray;
    border-radius: 15px;
    transition: all .3s;
    font-family: 'Lora', serif;
    color: var(--body-color);
    background-color: var(--title-color);
}

.title:hover {
    background-color: rgb(126, 145, 115);
}


/*=============== CARD SECTION ===============*/
.cards {
    display: flex;
}

.card {
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .3s;
    margin: 2.5rem;
}

.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.card h4 {
    color: var(--title-color);
}

.card img { 
    display: block;
    width: 50%;
    height: auto;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    margin-left: auto;
    margin-right: auto;
}

.card h4,
.card p,
.card a {
    margin: 1.5rem;
}
.card a {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}

.card a:hover {
    letter-spacing: 1px;
}

button {
    cursor: pointer;
    background: none;
    text-decoration: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-buttons {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.75rem;
    background-color: var(--accent-color);
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 5px; 
    transition: all .3s;
}

.card a {
    color: var(--body-color);
}

.card-buttons:hover {
    background-color: rgb(220, 130, 95);
    letter-spacing: 1px;
}

/*=============== LOGIN/REG SECTION ===============*/
.account-card,
.login-card { 
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .3s;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    max-width: 40%;
    padding: 2rem;
}



.account-card span {
    font-size: .75rem;
}

.account-card h1,
.login-card h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.reg-card {
    display: block;
    max-width: 60%;
    margin: 10rem auto;
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .3s;
    padding: 2rem;
}

.reg-card h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.25rem;
}


.inputs {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.inputs span {
    font-size: .75rem;
    margin-bottom: 1rem;
    padding: .25rem;
}

.form-inputs {
    outline: none;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: .5rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    transition: all .3s;
}

.login-button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.75rem;
    background-color: var(--title-color);
    color: var(--body-color);
    font-size: 1.25rem;
    padding: .75rem 1.25rem;
    border-radius: 5px; 
    transition: all .3s;
}

.login-button:hover {
    background-color:rgb(126, 145, 115);
    letter-spacing: 1px;
}

.reg-button {
    cursor: pointer;
    margin:  1rem 0;
    background-color: var(--title-color);
    color: var(--body-color);
    font-size: 1.25rem;
    padding: .75rem;
    border-radius: 5px; 
    transition: all .3s;
}

.reg-button:hover {
    background-color:rgb(126, 145, 115);
    letter-spacing: 1px;
}

.reg-link {
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;
    font-size: .75rem;
}

.reg-link a:hover {
    color: inherit;
}


.button-div {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.button-div a:hover {
    color: inherit;
}

.button-input {
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

/*=============== DASHBOARD ===============*/


.dashboard-cards {
    display: flex;
    justify-content: space-around;
}

.dashboard-cards a {
    color: inherit;
}

.card-body {
    width: 14rem;
}

.quick-card {
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .3s;
    margin: 2.5rem;
}

.card-title,
.card-subtitle {
    text-align: center;
}

.card-subtitle {
    color: var(--title-color);
}

.quick-card:hover {
    cursor: pointer;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.quick-card-icon {
    text-align: center;
}

.quick-card-icon a:hover,
.card-subtitle a:hover {
    text-decoration: none;
    font-size: 3rem;
}


.form-container {
    margin-bottom: 30px;
}

.ticket-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.comment-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.comment-display-container {
    border: 3px solid #66958D;
    width: 550px;
    margin-bottom: 40px;
    padding-top: 10px;
    border-radius: 5px;
}

.user_tickets li {
    margin-bottom: 5px;
}


.ticket-table {
    border: 3px solid #253434;
    border-radius: 0.25px;
    color: #253434;
    margin-bottom: 4.5rem;
}



.btn {
    color: #F8E0D3;
}

.btn:hover {
    color: #F8E0D3;
}


/*=============== TABLE SECTION ===============*/

.table-container,
.profile-table {
    width: 80%;
    border: 5px solid var(--title-color);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.table th {
    text-align: left;
    font-size: 1.5rem;
}

#table-id {
    text-align: center;
}


.data-edit {
    font-size: 1.5rem;
    text-align: left;
}

.table a:hover {
    color: var(--title-color);
    letter-spacing: 0;
}

.table { 
    transition: all .3s;
}

.table-row:hover {
    border: 2px solid gray;
    background-color: rgb(232, 230, 226);
    cursor: pointer;
}

.profile-table {
    margin-top: 4rem;
}

.profile-table h4 {
    text-align: center;
    margin-top: .75rem;
}



/*=============== FOOTER ===============*/
.footer-container {
    background-color: var(--second-color);
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0;
}

.footer-container a {
    cursor: pointer;
    font-size: 1rem;
    color: var(--body-color);
    transition: all .3s;
}

.footer-container a:hover {
    color: var(--body-color);
    letter-spacing: 1px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices max-width: 480px */


/* For medium devices min-width: 481px */
@media screen and (max-width: 769px) { 
    .cards,
    .dashboard-cards {
        display: flex;
        flex-direction: column;
    }

    .card img {
        display: block;
        width: auto;
        height: auto;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
        margin-left: auto;
        margin-right: auto;
    }


    .quick-card {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body {
        margin-left: auto;
        margin-right: auto;
    }
    
}

